In [1]:
import pandas as pd

In [13]:
ms = pd.read_csv("submission/predproba0125_375_0.70423.csv")
jp = pd.read_csv("submission/jp_0124_1_proba.csv")
sh = pd.read_csv("submission/0123_sh_70435_proba.csv")
ks = pd.read_csv("submission/ks_220127_0501_proba.csv")

In [14]:
jp['target'] = jp.mean(axis=1)
sh['target'] = sh.mean(axis=1)
ks['target'] = ks.mean(axis=1)

In [15]:
### LB점수에 따른 앙상블 비율을 달리함

In [16]:
ms['target'] = (ms['target'] + jp['target'] + sh['target']) / 3

In [17]:
ms['target'] = (ms['target'] + ks['target']) / 2

In [18]:
ms

          id    target
0          0  0.347983
1          1  0.264269
2          2  0.308318
3          3  0.295434
4          4  0.354894
...      ...       ...
46399  46399  0.545297
46400  46400  0.480853
46401  46401  0.669407
46402  46402  0.729096
46403  46403  0.688712

[46404 rows x 2 columns]

In [19]:
ms['target'] = ms["target"].apply(lambda x : 1 if x >= 0.350 else 0)

In [20]:
ms['target'].value_counts()

1    36090
0    10314
Name: target, dtype: int64

In [21]:
ms

          id  target
0          0       0
1          1       0
2          2       0
3          3       0
4          4       1
...      ...     ...
46399  46399       1
46400  46400       1
46401  46401       1
46402  46402       1
46403  46403       1

[46404 rows x 2 columns]

In [11]:
ms.to_csv("submission/kinggi_0128_350_voting6_final.csv", index=False)